name: Documentation

on:
  push:
    branches:
      - main
    tags: '*'
  pull_request:
    branches:
      - main

# This allows a subsequently queued workflow run to interrupt previous runs
concurrency:
  group: "${{ github.workflow }} - ${{ matrix.os }} @ ${{ github.ref }}"
  cancel-in-progress: true

jobs:
  docs:
    name: Documentation
    runs-on: macOS-latest
    steps:
      - uses: actions/checkout@v3
      - uses: julia-actions/setup-julia@v1
        with:
          version: '1'
      - uses: julia-actions/julia-buildpkg@v1
      - uses: julia-actions/julia-docdeploy@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          DOCUMENTER_KEY: ${{ secrets.DOCUMENTER_KEY }}
      - run: |
          julia --project=docs -e '
            using Documenter: DocMeta, doctest
            using HierarchicalGaussianFiltering
            DocMeta.setdocmeta!(HierarchicalGaussianFiltering, :DocTestSetup, :(using HierarchicalGaussianFiltering); recursive=true)
            doctest(HierarchicalGaussianFiltering)'